body{
    color: white;
    background-image:url("https://www.teahub.io/photos/full/54-543287_1080x1920-samsung-galaxy-s5-wallpapers-simple-galaxy.jpg");    
    background-size: 100%;
    
    font-size: 2rem;
    
}

/* .elo{
    
} */
.container{
    
    background-size: auto ;
    display: grid;
    grid-template-columns:50% 50%;
    grid-template-rows: 20rem 7rem;
    width: 100%;
    /* text-align: center; */
}
.content{
    border:2px solid aquamarine;
}
.content1-2{
    font-size:1rem ;
    
}
.contenth1{
    grid-column: 1/3;
    text-align: center;
    
    
}

.Form, .Form2{
    text-align: center;
}

/* .btn-success1{
    margin-right: 70px;

}

.inputclass2{
    margin-left: 40px;
} */

.content1{
    grid-area: 1 / 1 / 1 / 2;
}

.content2{
    grid-area: 1 / 2 / 1 / 2;
}

.content3 ,.content4{
    text-align: center;
    background-color: rgba(128, 255, 0, 0.459);
    
}

.content5 , .content6{
    text-align: center;
}

#el{
    text-align: center;
}

/* .content29{
    grid-row: 1/20 ;
    border: none;
}
.content28{
    grid-row: 1/20;
    grid-column: 5;
    border: none;
}
.content4 , .content3 , .content2{
    background-color: rgb(42, 75, 165);
}
#ana{
    
} */

.abcd{
    display: none;
}

